<div class="container">
  <h4>Update User</h4>
  <div class="jumbotron">
    <div class="center">
      <img
        [src]="user.picture.large"
        alt=""
        width="125"
        class="img-fluid rounded-circle mb-3"
      />
    </div>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>First Name</label>
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
            placeholder="First Name"
          />
          <div *ngIf="firstName.errors?.required" class="alert alert-danger">
            First name is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Last Name</label>
          <input
            formControlName="lastName"
            type="text"
            class="form-control"
            placeholder="Last Name"
          />
          <div *ngIf="lastName.errors?.required" class="alert alert-danger">
            Last name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input
          formControlName="address1"
          type="text"
          class="form-control"
          placeholder="1234 Main St"
        />
        <div *ngIf="address1.errors?.required" class="alert alert-danger">
          Address is required
        </div>
      </div>
      <div class="form-group">
        <label>Address 2</label>
        <input
          formControlName="address2"
          type="text"
          class="form-control"
          placeholder="Apartment, studio, or floor"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input formControlName="city" type="text" class="form-control" />
          <div *ngIf="city.errors?.required" class="alert alert-danger">
            City is required
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>State</label>
          <select formControlName="state" class="form-control">
            <option value="" disabled>Select a State</option>
            <option [value]="state" *ngFor="let state of states">
              {{ state }}
            </option>
          </select>
          <div *ngIf="state.errors?.required" class="alert alert-danger">
            State is required
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Zip</label>
          <input formControlName="zip" type="text" class="form-control" />
          <div *ngIf="zip.errors?.required" class="alert alert-danger">
            Zip code is required
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Phone Number</label>
          <input
            formControlName="phoneNumber"
            type="text"
            class="form-control"
          />
          <div *ngIf="phoneNumber.errors?.required" class="alert alert-danger">
            Phone number is required
          </div>
        </div>
      </div>
      <div class="center">
        <div *ngIf="!isUpdating; else editForm" class="btn-group">
          <button routerLink="/" class="btn btn-danger">Back</button>
          <button type="button" (click)="enableForm()" class="btn btn-success">
            Update
          </button>
        </div>
        <ng-template #editForm>
          <div class="btn-group">
            <button (click)="disableForm()" class="btn btn-danger">
              Cancel
            </button>
            <button
              type="submit"
              [disabled]="!userForm.valid"
              class="btn btn-success"
            >
              Submit
            </button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</div>
