<div class="container">
  <h4>Mr. Diyar Karim</h4>
  <div class="jumbotron">
    <form [formGroup]="userForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>First Name</label>
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
            placeholder="First Name"
          />
        </div>
        <div class="form-group col-md-6">
          <label>Last Name</label>
          <input
            formControlName="lastName"
            type="text"
            class="form-control"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input
          formControlName="address1"
          type="text"
          class="form-control"
          placeholder="1234 Main St"
        />
      </div>
      <div class="form-group">
        <label>Address 2</label>
        <input
          formControlName="address2"
          type="text"
          class="form-control"
          placeholder="Apartment, studio, or floor"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input formControlName="city" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-4">
          <label>State</label>
          <select formControlName="state" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Zip</label>
          <input formControlName="zip" type="text" class="form-control" />
        </div>
      </div>
      <div class="center">
        <button type="submit" class="btn">Update</button>
      </div>
    </form>
  </div>
</div>
