<div *ngIf="user" class="card mb-2">
  <img
    [src]="user.picture.large"
    alt=""
    width="125"
    class="img-fluid rounded-circle mb-1 img-large shadow-md"
  />
  <h5>
    {{ user.name.title }}. {{ user.name.first }}
    {{ user.name.last }}
  </h5>
  <ul class="media mb-1 list-inline mt-1">
    <li class="list-inline-item">
      Phone
      <a href="tel:{{ user.phone }}" class="media-link"
        ><i class="fa fa-phone"></i
      ></a>
    </li>
    <li class="list-inline-item">
      Cell
      <a href="tel:{{ user.cell }}" class="media-link"
        ><i class="fa fa-mobile"></i
      ></a>
    </li>
    <li class="list-inline-item">
      Email<a href="mailto:{{ user.email }}" class="media-link"
        ><i class="fa fa-envelope-open"></i
      ></a>
    </li>
  </ul>
  <p>Registered: {{ user.registered.date | date }}</p>
  <button (click)="viewDetails()" class="btn btn-primary">View</button>
</div>
