<div class="container">
  <ng-container *ngFor="let contact of contacts">
    <img height="30" width="30" [src]="contact.picture.thumbnail" />
    <p>
      {{ contact.name.title }}. {{ contact.name.first }} {{ contact.name.last }}
    </p>
    <p>
      Phone: {{ contact.phone }}<br />
      Cell: {{ contact.cell }} <br />
      Email: {{ contact.email }}
    </p>
    <p>
      Age: {{ contact.dob.age }}<br />
      Date of Birth : {{ contact.dob.date | date }};
    </p>
    <p>
      Address: {{ contact.location.street.number }}
      {{ contact.location.street.name }}, <br />
      {{ contact.location.city }}, {{ contact.location.state }},
      {{ contact.location.postcode }} <br />
      {{ contact.location.country }}
    </p>
  </ng-container>
</div>
