<div class="container">
  <div class="row">
    <div
      style="width: 20rem"
      *ngFor="let contact of contacts | async"
      class="card mb-4 mr-2 ml-2"
    >
      <img
        [src]="contact.picture.large"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-large shadow-md"
      />
      <h5>
        {{ contact.name.title }}. {{ contact.name.first }}
        {{ contact.name.last }}
      </h5>
      <span class="small text-uppercase text-muted"></span>
      <ul class="media mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="tel:{{ contact.phone }}" class="media-link"
            ><i class="fa fa-phone"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a href="tel:{{ contact.cell }}" class="media-link"
            ><i class="fa fa-mobile"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:{{ contact.email }}" class="media-link"
            ><i class="fa fa-envelope-open"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
