/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "./global/colors.scss";

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.rounded-circle {
  border: 2px solid $primary-red;
}

.card:hover {
  color: black;
  border: 2px solid $primary-yellow;
  background-color: rgb(233, 230, 230);

  .rounded-circle {
    border: 2px solid $secondary-blue;
  }

  .media-link {
    border: 2px solid $secondary-blue;
  }
}

.card {
  border: 2px solid $primary-blue;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 18rem;
}

.media {
  justify-content: center;
  align-items: center;
}

.media-link {
  width: 50px;
  height: 50px;
  border: 2px solid $primary-red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-red;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.media-link:hover,
.media-link:focus {
  background: $primary-red;
  text-decoration: none;
  color: #fff;
}

ul {
  text-align: center;
}

.btn:hover {
  background-color: $primary-red;
  color: #fff;
}
.btn {
  color: $primary-red;
  background-color: #fff;
  border: 1px solid $primary-red;
}

p {
  padding-top: 5px;
}

.jumbotron {
  border: 2px solid $primary-red;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $primary-blue;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

label {
  color: $primary-blue;
}
